<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block metatitle %}Welcome{% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/images/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/images/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('build/images/site.webmanifest') }}">

    {% block style %}
        {{ encore_entry_link_tags('app') }}
        <!-- Google Font: Source Sans Pro -->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('build/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
        <!-- pace-progress -->
        <link rel="stylesheet" href="{{ asset('build/plugins/pace-progress/themes/purple/pace-theme-minimal.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/select2.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/select2-bootstrap4.min.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ asset('build/css/style.css') }}"/>
    {% endblock %}
</head>
{% set setting = getSetting() %}
{% set userRole = (app.user)? app.user.userRole : null %}
{% set locale = (app.request.locale == 'en')? '': '/'~app.request.locale %}
{% set current_path = app.request.get('_route') %}
<body class="hold-transition layout-top-nav pace-purple">
<!-- Site wrapper -->
<div class="wrapper">
    <!-- Navbar -->
    {% include 'admin/top_navbar.html.twig' %}
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    {#{% include 'admin/left_navbar.html.twig' %}#}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h1>{% block title %} {% endblock %}</h1>
                    </div>
                    <div class="col-sm-6 text-right">
                        {% block titleLink %} {% endblock %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Main content -->
        {% block body %} {% endblock %}
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    {% include 'admin/footer.html.twig' %}

</div>
<!-- ./wrapper -->

{% block javascript %}
{{ encore_entry_script_tags('app') }}
<script src="{{ asset('build/plugins/moment/moment.min.js') }}"></script>
<script src="{{ asset('build/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
<script src="{{ asset('build/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
 <!-- pace-progress -->
<script src="{{ asset('build/plugins/pace-progress/pace.min.js') }}"></script>
<script src="{{ asset('build/js/select2.full.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ asset('js/fos_js_routes.js') }}"></script>
<script src="{{ asset('build/js/custom.js') }}"></script>
{% endblock %}
</body>
</html>
