{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <section class="content">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {% form_theme form 'admin/form_errors.html.twig' %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header bg-light">
                        <h4 class="text-bold">{{ (role.id)? 'Edit':'New' }} Role</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {% set required_name = form.name.vars.errors|length > 0 ? 'is-invalid':'' %}
                                    {{ form_label(form.name) }}<span>*</span>
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control '~ required_name}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-check">
                                    {{ form_widget(form.isAdd, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isAdd,'', {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_errors(form.isAdd) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-check">
                                    {{ form_widget(form.isEdit, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isEdit, '', {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_errors(form.isEdit) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-check">
                                    {{ form_widget(form.isDelete, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isDelete, '', {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_errors(form.isDelete) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-check">
                                    {{ form_widget(form.isView, {'attr': {'class': 'form-check-input'}}) }}
                                    {{ form_label(form.isView, '', {'label_attr': {'class': 'form-check-label'}}) }}
                                    {{ form_errors(form.isView) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('role_index') }}" class="btn btn-outline-secondary mr-2">{{ 'Cancel'|trans }}</a>
                        <input type="submit" value="{{ 'Save'|trans }}" class="btn btn-purple">
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}