{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <section class="content">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {% form_theme form 'admin/form_errors.html.twig' %}

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header bg-light">
                        <h4 class="text-bold">{{ (user.id)? 'Edit':'New' }} {{ 'User'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {% set required_name = form.name.vars.errors|length > 0 ? 'is-invalid':'' %}
                                    {{ form_label(form.name) }}<span>*</span>
                                    {{ form_widget(form.name, {'attr': {'class': 'form-control '~ required_name}}) }}
                                    {{ form_errors(form.name) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {% set required_email = form.email.vars.errors|length > 0 ? 'is-invalid':'' %}
                                    {{ form_label(form.email) }}<span>*</span>
                                    {{ form_widget(form.email, {'attr': {'class': 'form-control '~required_email}}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.password) }}
                                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.password) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {% set required_userRole = form.userRole.vars.errors|length > 0 ? 'is-invalid':'' %}
                                    {{ form_label(form.userRole) }}<span>*</span>
                                    {{ form_widget(form.userRole, {'attr': {'class': 'form-control custom-select '~required_userRole}}) }}
                                    {{ form_errors(form.userRole) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.phone) }}
                                    {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(form.phone) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    {{ form_label(form.photo) }}
                                    <div class="custom-file">
                                        {{ form_widget(form.photo, {'attr': {'class': 'custom-file-input', 'id':'photo'}}) }}
                                        <label class="custom-file-label" for="user_photo">{{ 'Choose file'|trans }}</label>
                                    </div>
                                    {{ form_errors(form.photo) }}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                {% if form.vars.data.photo is not null %}
                                    <div class="form-group">
                                        <label>{{ 'Current Image'|trans }}</label>
                                        <div>
                                            <img src="{{ asset(USER_IMAGE_DIR~'/'~form.vars.data.photo) }}" title="Image" alt="{{ form.vars.data.photo }}" class="profile-photo" />
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <a href="{{ path('user_index') }}" class="btn btn-outline-secondary mr-2">{{ 'Cancel'|trans }}</a>
                        <input type="submit" value="{{ 'Save'|trans }}" class="btn btn-purple">
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}