{% extends 'admin/admin_base.html.twig' %}

{% block body %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-6"><h4 class="text-bold">{{ 'User List'|trans }}</h4></div>
                                {% if (userRole.isAdd) %}
                                <div class="col-6 text-right">
                                    <a href="{{ path('user_new') }}" class="btn btn-sm btn-outline-purple"><i class="fas fa-plus"></i> {{ 'Add New'|trans }}</a>
                                </div>
                                {% endif %}
                            </div>
                            <table class="table" id="user_table">
                                <thead>
                                <tr>
                                    <th>{{ 'Id'|trans }}</th>
                                    <th>{{ 'Image'|trans }}</th>
                                    <th>{{ 'Name'|trans }}</th>
                                    <th>{{ 'Email'|trans }}</th>
                                    <th>{{ 'Phone'|trans }}</th>
                                    <th>{{ 'Role'|trans }}</th>
                                    <th>{{ 'Actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            <form method="post" action="" id="delete_form">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete-item') }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#user_table').DataTable({
                "dom": '<"pull-left"fi><"pull-right"l>tpr',
                "language": {
                    search: "",
                    searchPlaceholder: "{{ 'Search...'|trans }}",
                    paginate: {
                        next: '<i class="fas fa-step-forward"></i>',
                        previous: '<i class="fas fa-step-backward"></i>'
                    }
                },
                "pageLength": '{{ (setting.pageSize) ? setting.pageSize : 10 }}',
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "deferRender": true,
                "ajax": {
                    "url": Routing.generate('user_index'),
                    "type": "POST"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "photo",
                        "orderable": false,
                        "render":  data  => {
                            if (data) {
                                return `<img src="{{ asset(USER_IMAGE_DIR) }}/${data}" class="profile-photo-list" />`;
                            } else {
                                return '<img src="https://via.placeholder.com/50x50" class="img-circle elevation-2" alt="User Image">';
                            }
                        }
                    },
                    { "data": "name"},
                    { "data": "email" },
                    { "data": "phone"},
                    { "data": "roles"},
                    { "data": "action",
                        "orderable": false,
                        "render": function ( data, type, row, meta ) {
                            let routeUrl = Routing.generate('user_edit', { id: row.id });
                            let viewUrl = Routing.generate('user_show', { id: row.id })
                            var actions = '';
                            {% if (userRole.isEdit) %}
                            actions += '<a href="{{ locale }}'+routeUrl+'" class="mx-2"><i class="fas fa-pencil-alt"></i></a>';
                            {% endif %}
                            {% if (userRole.isView) %}
                            actions += '<a href="{{ locale }}'+viewUrl+'" class="mx-2"><i class="fas fa-eye"></i></a>';
                            {% endif %}
                            {% if (userRole.isDelete) %}
                            actions += '<a onclick="deleteItem('+row.id+');" href="javascript:;" class="mx-2"><i class="far fa-trash-alt"></i></a>';
                            {% endif %}
                            return actions;
                        }
                    }
                ]
            });
        });

        function deleteItem(id) {
            var r = confirm("Do you want to delete record?");
            if (r === true) {
                let delUrl = Routing.generate('user_delete', { id: id });
                $('#delete_form').attr('action', delUrl);
                $('#delete_form').submit();
            }
        }
    </script>
{% endblock %}